<footer id="footer">
  <div class="app-container py-6">
    <div class="flex flex-col md:flex-row gap-4 items-start md:items-center">
      <div class="md:basis-1/2 text-sm">
        MupiTech digital signage player.
      </div>
      <div class="md:basis-1/2 md:flex md:justify-end">
        <div class="links flex flex-wrap md:justify-end gap-4">
          <a href="https://github.com/pedrom20/mupitech-player" target="_blank" rel="noopener noreferrer" class="inline-flex items-center gap-1">
            <i class="ti ti-brand-github"></i> GitHub
          </a>
          <a href="/api/docs/" target="_blank" rel="noopener noreferrer">API</a>
        </div>
      </div>
    </div>

    <div class="copy text-center pt-4">
      &copy; MupiTech.
    </div>
  </div>
</footer>
